@model EMRSoftware.Models.Sponsor

@{
    ViewBag.Title = "SponsorDetails";
}

<h2>Sponsor Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SponsorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SponsorID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SponsorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SponsorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InsuranceType.InsuranceTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsuranceType.InsuranceTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region.RegionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region.RegionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.StatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.StatusName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClaimsInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaimsInfo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "SponsorEdit", new { id = Model.SponsorID }) |
    @Html.ActionLink("Back to List", "SponsorIndex")
</p>
